@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
  --bg-color: #000000;
  --secondary-bg-color: #0B192C;
  --text-color: #1E3E62;
  --main-color: #FF6500;
}



@layer components {
    .pixel-corners,
    .pixel-corners--wrapper {
    clip-path: polygon(0px calc(100% - 20px),
        4px calc(100% - 20px),
        4px calc(100% - 12px),
        8px calc(100% - 12px),
        8px calc(100% - 8px),
        12px calc(100% - 8px),
        12px calc(100% - 4px),
        20px calc(100% - 4px),
        20px 100%,
        calc(100% - 20px) 100%,
        calc(100% - 20px) calc(100% - 4px),
        calc(100% - 12px) calc(100% - 4px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 8px) calc(100% - 8px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 4px) calc(100% - 12px),
        calc(100% - 4px) calc(100% - 20px),
        100% calc(100% - 20px),
        100% 20px,
        calc(100% - 4px) 20px,
        calc(100% - 4px) 12px,
        calc(100% - 8px) 12px,
        calc(100% - 8px) 8px,
        calc(100% - 12px) 8px,
        calc(100% - 12px) 4px,
        calc(100% - 20px) 4px,
        calc(100% - 20px) 0px,
        20px 0px,
        20px 4px,
        12px 4px,
        12px 8px,
        8px 8px,
        8px 12px,
        4px 12px,
        4px 20px,
        0px 20px);
    position: relative;
    }
    .pixel-corners {
    border: 4px solid transparent;
    }
    .pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
    }
    .pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(4px 20px,
        8px 20px,
        8px 12px,
        12px 12px,
        12px 8px,
        20px 8px,
        20px 4px,
        calc(100% - 20px) 4px,
        calc(100% - 20px) 8px,
        calc(100% - 12px) 8px,
        calc(100% - 12px) 12px,
        calc(100% - 8px) 12px,
        calc(100% - 8px) 20px,
        calc(100% - 4px) 20px,
        calc(100% - 4px) calc(100% - 20px),
        calc(100% - 8px) calc(100% - 20px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 20px) calc(100% - 8px),
        calc(100% - 20px) calc(100% - 4px),
        20px calc(100% - 4px),
        20px calc(100% - 8px),
        12px calc(100% - 8px),
        12px calc(100% - 12px),
        8px calc(100% - 12px),
        8px calc(100% - 20px),
        4px calc(100% - 20px));
    }
    .pixel-corners::after,
    .pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 20px),
        4px calc(100% - 20px),
        4px calc(100% - 12px),
        8px calc(100% - 12px),
        8px calc(100% - 8px),
        12px calc(100% - 8px),
        12px calc(100% - 4px),
        20px calc(100% - 4px),
        20px 100%,
        calc(100% - 20px) 100%,
        calc(100% - 20px) calc(100% - 4px),
        calc(100% - 12px) calc(100% - 4px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 8px) calc(100% - 8px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 4px) calc(100% - 12px),
        calc(100% - 4px) calc(100% - 20px),
        100% calc(100% - 20px),
        100% 20px,
        calc(100% - 4px) 20px,
        calc(100% - 4px) 12px,
        calc(100% - 8px) 12px,
        calc(100% - 8px) 8px,
        calc(100% - 12px) 8px,
        calc(100% - 12px) 4px,
        calc(100% - 20px) 4px,
        calc(100% - 20px) 0px,
        20px 0px,
        20px 4px,
        12px 4px,
        12px 8px,
        8px 8px,
        8px 12px,
        4px 12px,
        4px 20px,
        0px 20px,
        0px 50%,
        4px 50%,
        4px 20px,
        8px 20px,
        8px 12px,
        12px 12px,
        12px 8px,
        20px 8px,
        20px 4px,
        calc(100% - 20px) 4px,
        calc(100% - 20px) 8px,
        calc(100% - 12px) 8px,
        calc(100% - 12px) 12px,
        calc(100% - 8px) 12px,
        calc(100% - 8px) 20px,
        calc(100% - 4px) 20px,
        calc(100% - 4px) calc(100% - 20px),
        calc(100% - 8px) calc(100% - 20px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 20px) calc(100% - 8px),
        calc(100% - 20px) calc(100% - 4px),
        20px calc(100% - 4px),
        20px calc(100% - 8px),
        12px calc(100% - 8px),
        12px calc(100% - 12px),
        8px calc(100% - 12px),
        8px calc(100% - 20px),
        4px calc(100% - 20px),
        4px 50%,
        0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:var(--main-color);
    display: block;
    pointer-events: none;
    }
    .pixel-corners::after {
    margin: -4px;
    }

    .active-skill-button {
        @apply tw-mt-[3rem] tw-border-2 tw-shadow-glow-sm tw-border-main-color tw-bg-main-color tw-font-bold tw-text-black tw-rounded-lg tw-w-[50%] tw-h-[5rem] tw-text-[3rem] tw-flex tw-items-center tw-justify-center tw-duration-300 hover:tw-scale-110 hover:tw-shadow-glow-md hover:tw-text-[3.2rem]
    }

    .inactive-skill-button {
        @apply tw-mt-[3rem] tw-border-2 tw-shadow-glow-sm tw-border-main-color tw-bg-text-color tw-font-bold tw-text-main-color tw-rounded-lg tw-w-[50%] tw-h-[5rem] tw-text-[3rem] tw-flex tw-items-center tw-justify-center tw-duration-300 hover:tw-scale-110 hover:tw-shadow-glow-md hover:tw-text-[3.2rem] hover:tw-text-black hover:tw-bg-main-color
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 10px;
    height: 5vw;
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

@layer base {
  body {
    @apply tw-font-primary tw-bg-gradient-to-b tw-from-black tw-to-slate-900 tw-text-text-color tw-min-h-screen;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 600;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.bracket{
    font-size: 4rem;
    font-weight: 800;
    color: var(--main-color);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.text-animation-span::before {
    content: "Software Engineer";
    color: var(--main-color);
    animation: words 10s infinite;
    animation-delay: 1s;
}

.text-animation-span::after {
    content: "";
    background-image: linear-gradient(#080a18, #020617);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid linear-gradient(black, #020617);
    right: -8px;
    animation: cursor .6s infinite, typing 10s steps(14) infinite;
    animation-delay: 1s;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%,
    20% {
        content: "= \"Backend Engineer\";";
    }
    21%,
    40%{
        content: "= \"Fullstack Engineer\";";
    }
    41%,
    60% {
        content: "= \"Mobile Engineer\";"
    }
    61%,
    80% {
        content: "= \"Test Automation Engineer\";";
    }
    81%,
    100% {
        content: "= \"Gaming Enthusiast\";"
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px)
    }
}

